CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Vagrant
.vagrant/*

# metrics-server
high-availability-1.21+.yaml*